@charset "UTF-8";
#col_container {
	margin-top: 65px;
}
.columns {
	position: relative;
	display: flex;
	align-items: center;
	width: 750px;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
	/* border-style: solid; */
}
.col_wrap {
	display: flex; 
	align-items:center     
}
.col_wrap a {
	display: contents;
}
.col_wrap > a > img {
	display: flex;
	align-items: center;
	width: 290px;
	background-color: steelblue; /* 사진 없을때 보려고 만든 용도  */
}
.col_wrap > a > img:hover {
	box-shadow: 5px 3px 5px lightgrey;	
}
.col_txt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
	margin-left: 10px;
}
.col_txt > h2:hover, .col_txt > p:hover {
	color: indianred;
}
.col_title {
	font-size: 1.8em;
	font-family: swipercons;
}
.col_subtitle {
	font-family: swipercons;
	font-size: 1em;
	padding-top: .5em;
}
.btn-box {
    position: absolute;
    right: 100px;
}
.my_btn {
	border: 1px solid #d3d3d3;
	color: rgba(34,34,34,.8);
	margin-top: 12px;
	height: 33px;
	line-height: 34px;
	border-radius: 10px;
	padding: 0 14px;
	background-color: #fff;
	transition-duration: 0.2s;
}
.my_btn:hover {
	transition-duration: 0.2s;
	background-color: #d3d3d3;
}
#btn-more {
	border-style: none;
	margin: 3em;
	width: 57em;
	height: 2.2em;
	background: linen;
	color: black;
	font-family: fangsong;
	font-weight: 500;
}
#btn-more:hover {
	background: #F2F3F6;
}