@charset "UTF-8";
/* 글꼴 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 기본 */
.container {
	min-height: 700px;
}
.wrap {
	width: 400px;
	margin: 0 auto;
	padding: 60px 0 160px;
}

/* 로그인 */
.login_title {
	width: 200px;
	font-size: 40px;
	font-family: 'Shrikhand', cursive;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;
}
.login_box, .find_box {
	position: relative;
	padding: 10px 0 14px;
}
.login_input, .find_input {
	width: 100%;
	border-style: none;
	border-bottom: 1px solid #c5c2c2;
	padding: 8px 10px 5px 0;
}
.input_error {
	position: absolute;
	visibility: hidden;
	color: #f15746;
	font-size: 12px;
}
.login_btn_box {
	padding-top: 20px;
}
.login_btn, .find_btn{
	width: 100%;
	height: 40px;
	font-weight: 700;
	border-radius: 10px;
	border-style: none;
	background: black;
	color: #fff;
	cursor: pointer;
}
.etc_list {
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	font-size: 14px;
}
.etc_link {
	list-style: none;
	cursor: pointer;
}

/* 아이디찾기 */
.findId_title {
	font-size: 30px;
	padding-bottom: 41px;
	text-align: center;
	border-bottom: 2px solid #000;
}
.ex_msg {
	font-size: 14px;
	text-align: center;
	padding: 40px 0 30px;
}
.find_btn_box {
	margin-top: 65px;
	cursor: pointer;
} 
.after_box {
	text-align: center;
	padding: 40px 0;
	font-size: 24px;
	font-size: 25px;
	font-weight: 900;
	border-bottom: 2px solid #000;
}
.find_info {
	padding-top: 30px;
	text-align: center;
}
.find_info p {
	font-size: 14px;
	color: rgba(34,34,34,.5);
}
.find_info h4 {
	font-size: 18px;
}
.success_btn_box {
	padding-top: 50px;
	display: flex;
}
.success_btn_box a {
	width: 100%;
	margin: 10px;
	padding: 10px;
	display: inline-flex;
	justify-content: space-evenly;
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	color: rgba(34,34,34,.8);
}
.success_btn_box a:last-child {
	background-color: #222;
	color: #fff;
}

/* 회원가입 */
.container {
	font-family: 'LINESeedKR-Bd';
}
.enroll_title {
	padding-bottom: 42px;
	text-align: center;
	font-size: 32px;
}
.sub_title {
	text-align: center;
	margin-bottom: 20px;
}
.enroll_text {
	width: 98%;
	line-height: 18px;
	border-style: none;
	border-bottom: 2px solid #333;
	padding: 9px 0 7px 0;
}
.enroll_box {
	padding: 10px 0;
}
.enroll_box h4 {
	font-size: 15px;
}
.msg_box {
	margin: 10px 0;
}
.enroll_btn, .next_btn, .pre_btn{
	height: 40px;
	margin-top: 18px;
	font-weight: 900;
	background: black;
	color: #fff;
	border-style: none;
	border-radius: 7px;
	cursor: pointer;
}
.enroll_btn, .pre_btn {
	width: 48%;
}
.next_btn {
	width: 100%;
	display: block;
	text-align: center; 
	line-height: 40px;
}
.style_box td {
	padding: 5px 10px 0 0;
}
.style_name {
	padding-left: 3px;
	font-family: 'LINESeedKR-Bd';
}
.select_info {
	display: none;
}
.check {
	visibility: visible;
}
.hidden {
	display: none;
}
.show {
	display: block;
}