@charset "UTF-8";

@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700&family=Nanum+Gothic+Coding:wght@400;700;900&family=Noto+Sans+KR:wght@100;300;400;500;900&family=Shrikhand&family=Solitreo&family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

/** p **/
#profileimg{
	width:45px;
	margin-left: 18px;
	margin-top: 5px
}

#writersp{
	position: relative;
	top:-20px;
	left: 8px;
	font-weight: 300
	
}

#datep{
	position: relative;
	top:-20px;
	left: 75px;
	color: gray;
	font-size: 16px;
}


#ootdimg{
	width:630px; 
	height : 780px; 
	margin-left: 15px;
}

#viewProfile{
	background-color : black;
	color:white;
	width:95px;
	height:35px;
	border-radius : 10px 10px 10px 10px;  
	display: inline;
	position: relative;
	top:-20px;
	left: 413px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bolder;
}

#viewProfile:hover{
	background-color : white;
	color:black;
	transition : 0.4s
}


#likesco{
	position : relative;
	left:-35px;
	top:25px;
	padding-bottom : 3px;
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: 600;
	font-size: 15px;
	display: inline;
}

#cmtp{
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 15px;
	font-weight: 600;
	margin-top: 40px;
}

#likescounts{
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 15px;
	font-weight: 900;
}

<!-- 아이디 / 등록일자 / 이미지 담는 div  >
#imgNtableContainer{
	border:1px solid red;
	height : 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: 100
}

#bigDiv{
	margin: 0 auto;
	width:630px; 
}

/*게시글 작성/상세보기 테이블*/



#informationsp{
	font-weight : 900;
	font-size:18px;
	display : inline;
	margin-top : 20px;
	margin-left : 970px;
	margin-bottom : 20px;
	width : 200px
}
#infos{
	margin-top : 5px;
	margin-left : 15px;
	width: 630px;
	
}
.exs{
	margin-left : 2px;
	padding-top: 42px;
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 16px;
}

#reporta{
	position:relative;
	top:-60px;
	left:570px;

	font-family: 'Noto Sans KR', sans-serif;
	font-weight : 900;
	font-size: 16px;
	display: inline;
	color:gray;

}

#reporta:hover{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 900px;
	color:red;
	margin-bottom : 0;
	cursor: pointer;
}

.heart{
	width : 30px;
	display : inline;
	position : absolute;
}

#comt{
	width : 30px;
	display : inline;
	position : relative;
	left : 40px;
	
}

#comt:hover{
	cursor: pointer;
}

.heart:hover{
	cursor: pointer;
}



/* 신고 */
#siren {
	width: 30px;
	transform: translate(200px, -261px);
	cursor: pointer;
	position: relative;
	top : 183px;
	left : 308px;
}


#styleinfo{
	font-weight:200; font-size:16px; color:lightgray; 	
}

/**내용 출력하는 div **/
#contents{
	margin-top : 10px;
	margin-left : 50px;
	margin : 0 auto;		
	font-size : 15px;
}

#contentsbox{
	float:left; 
	border : 1px solid lightgray;
	width : 490px;
	height : 200px;
	text-align: left;
	padding : 10px;
	padding-left : 10px;
	margin : 10px 30px 30px 30px;	
}





#tblboardview {
	width:500px; 
/*	border:1px solid black; */
	border-collapse:collapse;  
	margin-top : 20px;
	margin-left : 20px;
	font-family: 'Nanum Gothic Coding', monospace;	
	font-size : 15px;
}

tr{
	padding: 5px 0 5px 0px; 
	text-align:left;
		font-size : 15px;
}

table#tblboardview th {
	padding: 5px 0 15px 10px; 
	text-align:left;
	width : 100px;
	font-size : 15px;
	
}

table#tblboardview td { 
	padding: 5px 0 15px 15px; 
	text-align:left;
	font-size : 15px;
}
table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}

.styleinfo{
	color : #f90686;
	font-style : italic;
	font-weight : bold;
	
	
}

/*수정삭제버튼*/
.ootdmodidel{
	float : right;
	margin-left : 1px; 
	display : block;

	height:26px;
	width : 67px;
	background-color : black;
	color : white; 	
	
}

.ootdmodidel:hover{
	background-color : white;
	color : black; 	
}



/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 250px;
    font-size: 14px;
    background: #f5f5f5;
}
#del_file+label{font-size:.8em; position:relative; top:-3px;}

/*댓글등록버튼*/
#btn-comment-enroll1 {
	width:35px; 
	height:35px; 
	color:white; 
	font-weight : bold;
	background-color : black; 
	position:relative; 
	top:-10px;
	left : -5px;
	border-radius: 10px 10px 10px 10px;
}

#btn-comment-enroll1:hover {
	background-color: white;
	color:black;
	transition : 0.4s;
}


/*댓글테이블

#cmttitle{
	margin-left : 518px;
	height : 85px;
	width : 600px;
	background-color : rgb(0, 0, 0);
	font-size : 28px;	
	padding : 20px;
	bolder : 1px solid black;
}*/

.comEnrollBox{
	width: 700px;
	padding-left: 300px
}

.comment-editor{
	margin-left : 518px;
	height : 85px;
	width : 600px;
	background-color : white;
	font-size : 28px;	color : #000040;
	padding : 10px;
	border : 1px solid black;
}

#cmtcontent{
	height : 35px;
	width : 600px;
	background-color : rgb(255, 255, 255);
	font-size : 16px;	
	color : #000040;
	border-radius: 30px 30px 30px 30px;
	
}

#formcmt{
	width: 650px; 
	margin-left: 5px;
}

.maketd :hover{
	background-color: black;
}

#cmtcmtcontent{ 
/* 대댓글 */
	width : 550px;
	font-size : 15px;	
	color : #000040;
	padding : 10px;
	height:35px; 
	color:black; 
	background-color : white; 
	border-radius: 10px 10px 10px 10px;
	
}

table#tbl-comment{
	width : 640px;
	margin-left : 10px;
	border-collapse:collapse;
	background-color : rgb(255, 255, 255);	
	border: none;
} 
table#tbl-comment tr td{
    height: 35px;
    padding: 9px;
    text-align: left;
    font-weight: 200;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 14px;
}

#cmtprofileimg{
	width : 30px;
	height : 30px;
	margin : 0;
	display: inline;	
	
	
}

table#tbl-comment tr td #text{
	font-weight : 100;
}



table#tbl-comment tr td:first-of-type{
	padding: 5px 5px 5px 50px; 
	height : 10px;
}
/**
table#tbl-comment tr td:last-of-type {
	text-align:right; 
	width: 100px;
}
**/
table#tbl-comment button.btn-reply{
	border-radius: 10px 10px 10px 10px;
	margin-left:-110px;
	display:none;
	background-color: black;
	color:white;	
}

table#tbl-comment button.btn-reply:hover{
	background-color: white;
	color:black;
	transition : 0.4s;
		
}

table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
/*-- 댓글 td --*/
table#tbl-comment span.comment-writer {
	color:navy; 
	font-size:14px;
	margin-right : 10px;
	margin-top: -40px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100
}

table#tbl-comment span.comment-date {
	color:tomato; 
	font-size:10px
}

table#tbl-comment tr.level2 {
	color:gray; 
	font-size: 14px;
	height: 20px;
}


table#tbl-comment tr.level2 span.cocomment-writer {
	color:green; 
	font-size:14px
}

table#tbl-comment tr.level2 span.cocomment-date {
	color:#ff9c8a; 
	font-size:10px;
	position: relative;
	top:-10px;
	left: 5px;
}

/*댓글 --- 대댓 답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{
	width:45px; 
	height:35px; 
	color:white; 
	background:black;
	position:relative; 
	top:-12px; 
	left:1px;
	border-radius: 10px 10px 10px 10px;
}


table#tbl-comment button.btn-comment-enroll2:hover{
	background-color: white;
	color:black;
	transition : 0.4s;
}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{
	border-radius: 10px 10px 10px 10px;
	background:black; 
	color:white; 
	display:none;
}

table#tbl-comment button.btn-delete:hover{
	background-color: white;
	color:black;
	transition : 0.4s;
}


table#tbl-comment tr:hover button.btn-delete{
	width:35px; 
	display:inline;
	margin: 0
}




/* 신고폼 */
#report {
	color: white; 
	background: red; 
	border: 1px solid black; 
	float: right;
	cursor: pointer;
}
.report_container {
	position: fixed; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 21em; 
	padding: 10px;
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: hidden;
}
.showPopup {
	position: fixed; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 25em; 
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: visible;
	z-index: 999;
}
.close-button {
    float: right;
    width: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: lightgray;
    margin: .5em;
}
.close-button:hover {
    background-color: darkgray;
}
#report_wrap {
    width: 25em;
    margin: 0 auto;
}
#reason_wrap {
    width: 24em;
    margin: 0 auto;
    padding-top: 108px;
}
#reason_wrap tbody th {
    padding: .2em;
}
#reason_wrap tbody td {
    border-bottom: 1px solid grey;
}


#contentsDiv{
	height: 180px;
}

#boardCommentFrm{
	width: 620px;
    display: inline-block;
    height: 48px;
}

.cocoment{
	width: 520px;
}

#cocodel{
	margin-right: 20px
}