@charset "EUC-KR";

/* file custom  */
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.filebox label { 
	/* 파일찾기   */
    display: inline-block;
    padding: 2px 2px 2px 2px;
    color: #fff;

    background-color: #999999;
    cursor: pointer;
    height: 25px;
    margin-left: 10px;
    font-size : 14px;
}



.upload-name{
	border : none;
	border-bottom:1px solid black;
	width: 500px;
	height: 25px;
	color : gray;
}

/*-- 이미지 미리보기 div  */
#col_img{
	height: 200px;
	margin-top : 10px;
}

#imgexplain{
	margin-top: 20px;
}

#imgexplain p{
	margin : 0;
	font-size : 13px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight : 300;	
	color : black;
	
}


/* 거래상태표시 */
.satustext{
	width : 60px;
	margin-left : 5px;
	height : 28px;
	text-align:center; 
	border : none;
	display: inline-block;
    padding: 2px 2px 2px 2px;
    color: #fff;
    background-color: #999999;
    cursor: pointer;
    font-size : 14px;
}

/* enroll table에서 에서 input 태그들 */
.inputtext{
	width : 500px;
	border: 1px solid #c0c0c0;
	border-radius: 10px 10px 10px 10px;
	vertical-align: middle;
	padding : 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight : 300;	
	color : black;
	
}

select, option{
	border: 1px solid #c0c0c0;
	border-radius: 10px 10px 10px 10px;
	vertical-align: middle;
	padding : 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	font-weight : 300;		
	color : black;
}


/* summernote div */
.note-editor{
	width : 1100px	
	
}

#sharewrite{
	font-family: 'Nanum Gothic Coding', monospace;	
	font-weight : 700;
	margin-bottom : 40px;
	margin-top : 40px; 
}

.note-editable{
	text-align:left;
	font-weight : normal;
}



section#board-container{
	width:1000px; 
	margin:0 auto; 
	text-align:center;
}


	

	
table#tbl-board th, table#tbl-board td {
	border:1px solid; 
	padding: 5px 0; 
	text-align:center;
	font-family: 'Nanum Gothic Coding', monospace;	
} 

/*글쓰기버튼*/
input#btn-add{float:right; margin: 0 0 15px;}

/*페이지바*/
div#pagebar{
	margin-top:10px; 
	text-align:center; 
	background-color:rgba(0, 188, 212, 0.3); 
}

div#pagebar span.cPage{
	color:black; 
	margin-right: 5px;
	font-size:18px;
}
div#pagebar a{margin-right: 5px;}


div#pagebar a:hover{
	background-color: #f98220;
	font-size:24px;
	font-weight: 900;
	text-decoration : underline;
}


/* ★★★★   게시글 작성/상세보기 테이블  ★★★★★*/

/* 테이블 설정  */
table#tbl-board-view{
	margin-top : 20px;
	margin:0 auto; 
	border : none;
	clear:both; 
	width: 800px;
	border: none;

	border-collapse:collapse;  
}

table#tbl-board-view th {
	border: none;
	border-bottom : 1px solid #c0c0c0 ;

	width: 150px; 
	padding: 8px 15px;
	text-align: left; 
	vertical-align: middle;

	font-family: 'Noto Sans KR', sans-serif;	
  	font-size: 18px;
	font-weight : 500;
}	
	
 
table#tbl-board-view td {
	border: none;
	border-bottom : 1px solid #c0c0c0 ;
	
	padding: 15px 15px 15px 15px; 
	text-align:left;
	vertical-align: middle;
	
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	font-weight : 300;	
}

/* table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;} */

















/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 255px;
    font-size: 14px;
    background: #f5f5f5;
}



/* enroll에서 글쓰기 - 취소  제출버튼 */
.inputbuttons{
	background-color : black;
	color : white;
	width : 120px;
	height : 33px;

}

.inputbuttons:hover { 
	font-weight : 600;
	font-size : 18px;	
}






#del_file+label{font-size:.8em; position:relative; top:-3px;}
