@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;900&family=Shrikhand&family=Solitreo&family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

*{
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/** 메뉴바 소미이지들**/ 
#menuimages{
	text-align:  center;
}

.menuimgs{
	width : 60px;
	height : 60px;
	display: flex;
	flex-direction: row;
	display: inline-block;
	justify-content: space-around;
	margin-left : 100px;
	margin-top : 40px;
	margin-bottom :20px;
}

.menuimgssp{
	font-family: 'Nanum Gothic Coding', monospace;		
	font-size : 14px;
}

/**  필터 || 제품이미지 **/ 
section{
	flex-direction: row;
	display: flex;
	width : 1900px;
/* 	height : 1000px */
}


.container {
  margin-left : 192px;
  margin-top : 70px;
  padding: 20px 20px 20px 20px;
  width: 200px;
}

.accordion .accordion-item {
  border-bottom: 1px solid black;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid black;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: black;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: black;
  border: 1px solid black;
}

 .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 18px;
  height: 18px;
  border : none
} 
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: black;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 550px;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
	padding : 5px;
	  opacity: 0;
	  max-height: 0;
	  overflow: hidden;
	  transition: opacity 200ms linear, max-height 200ms linear;
	  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 10px 0
}

.accordion .accordion-content label {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 10px 0;
  padding: 10px 8px 10px 8px ;
}

.accordion .accordion-content input {
  font-size: 1rem;
  font-weight: 300;
  margin: 8px 0 8px 0;
  padding: 10px 8px 10px 8px ;
}


/* ///////////    큰 div 2개    /////////////// */
#filters{	
/*	border : 1px solid black; */
	width : 450px;
}

#sharelists{
/* 	border : 1px solid green; */
	width : 1400px;
	margin-left: -50px
}


/* ///////////    상품 출력 테이블     /////////////// */

/*글쓰기버튼*/
input#btnAdd{
	background-color : black;
	color : white;
	height : 32px;
	width : 70px;
 	position : absolute;
	top:430px;
	left : 1464px;
}
#btnAdd:hover{
	font-weight : 900;
	font-size : 14px;
	cursor : pointer;
}



#itemTable{
	margin-top : 70px;
	height : 800px;
}

.itemimg{
	width : 250px;
	height : 250px;
	border-radius: 20px 20px 20px 20px;
}

/* ///////////    상품 출력 테이블     /////////////// */

.heartsempty{
	width:15px;
	height:15px;
	display: inline-block;
	position: relative;
	left : 220px;
	top : 50px;
	
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom : 100px;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 38px;
  height: 34px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 550px;
  height : 20px;
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Resize the wrap to see the search bar change!*/

#shareboardlist{
	margin:0 auto; 	
/* 	margin-left : 160px; */
	font-weight : 900;
	font-family: 'Nanum Gothic Coding', monospace;		
	text-align:center;
	font-size : 33px;
	padding-bottom : 10px
}

#shareboardlist2{
/* 	margin-left : 160px; */
	font-size : 16px;
	font-weight : 100;
	font-family: 'Nanum Gothic Coding', monospace;		
	text-align:center;	
}


/* 글자 설정  */
#categories p{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: 700
}

#pn{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	font-weight: 200;
}

.styles{
	font-family: 'Martian Mono', monospace;
	font-size: 14px;
	font-weight: 600;
	color:#00d200;
	padding : 5px;
	padding-left: 0
}

table#tblBoard{
	margin-top : 100px;
	border-spacing : 30px;
	border-collapse: separate;
	table-layout:fixed; 
	border : none;
	/* width:1300px;  
	height : 1500px; */
	padding : 0px;
	margin-left : 260px;
	
}

table tr{
	margin-bottom: 40px;
}
		

.boarddetails{
	padding-bottom : 10px;
	text-align:center;
	float : right;
/* 	padding-left : 100px;
 */	font-size : 13px;
}

.detailtd{
	border:none;
	margin-right : 30px;
	margin-left : -20px;
	height : 180px; 
	width:165px;
	padding:10px;
	margin-top : 20px;
	margin-bottom: 30px;
}

/**
#eachimg:hover {
    transform: scale(1.1);
  }
**/
  
.maketd:hover  {
    transform: scale(1.1);
    background-color: #ffd688;
    transition : 0.5s;
    text-decoration : white;
    border-radius: 10px 10px 10px 10px;
  }  

#detaildiv{
	border:1px solid orange;
	height :240px; 
	width: 220px;
	padding:10px;
	margin-bottom: 30px;
	margin-top : -30px;
	vertical-align:middle;	
  	padding : 40px 10px 0 10px;
	
}


.carrots{
	display : inline-block;
	position : relative; 
	top : 0px;
	left : 130px;
	
}

/*  거래중 표시  */
#buttonglow{
	width : 70px;
	height : 28px;
	font-weight : 800;
	text-align : center;
	vertical-align: middle;
	position : relative; 
	top :  -32px;
	left : 152px;
	background-color: #000;
    color: #ffe100;
    animation: glowing 5000ms infinite;
    border-radius:  10px 10px 10px 10px;
}

#buttonglow:hover{
	background-color: orange;
    color: white;
}


@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

/* #deal{
	background-color : black;
 	font-family: Audiowide;
  	animation: neon5 1s ease-in-out infinite alternate;
}	

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}
 */



.datailtitle{
	/* width : 50px; */	
	width : 90%;
	text-align: left;
	margin:0;
}

.maketd{
	font-weight : 500;	
 /* 	border:1px solid #52a400; */ 
 	text-align:center;
	font-family: 'Nanum Gothic Coding', monospace;
	height : 180px;
	width : 180px;	
	margin-top : 20px;
	margin-bottom : 10px;
	margin-right: -100px;
	padding-right : 0;
}

img{
	margin : 10px 10px 10px 10px;
	height : 250px;
	width : 170px;

}

a > img{
	display : inline;
	margin-left : -142px;
	height : 250px;
	width : 170px;

}
.atags{
	display : inline-block;
}







/*페이지바*/
div#pagebar{
	margin-bottom:10px; 
	text-align:center; 
}

div#pagebar span.cPage{
	color:black;
	margin-right: 7px;
	font-size : 20px;
	width:10px;	
}

div#pagebar a{
	margin-left : 5px;
	margin-right: 10px;
	color:black;
	font-size : 20px;
	width:10px;	
}
div#pagebar a:hover{

	font-size : 20px;
	font-weight: 900;
	text-decoration : underline
}

